<main>
  <h1>{{pageTitle}}</h1>
  {{#if hasProductsInsideOrder}}
  <section>
    <p>Total de itens no carrinho: <span>{{numberOfProducts}}</span></p>
    <p>Valor total do carrinho: <span>R$ {{totalPrice}}</span></p>
  </section>
  <section>
    <p>Itens no carrinho:</p>
    {{#each products}}
    <div style="display: flex;align-items: center; gap: 10px; padding-left: 20px;">
      <p>Nome: {{this.title}}</p>
      <p>Valor: R$ {{this.price}}</p>
      <p>Quantidade: {{this.quantity}}</p>
      <form action="/cart/delete-product/" method="post">
        <input type="hidden" name="productId" value="{{this.id}}">
        <input type="hidden" name="productPrice" value="{{this.price}}">
        <input type="hidden" name="quantity" value="{{this.quantity}}">
        <button class="btn" type="submit">Delete</button>
      </form>
    </div>
    {{/each}}

    <form action="/create-order" method="post">
      <button type="submit" class="btn">Order Now!</button>
    </form>
  </section>
  {{else}}
  <h2>No Products Found!</h2>
  {{/if}}
</main>